*.log
.DS_Store
.awcache
.circleci/
.gitignore
.idea
.npmignore
.nyc_output
.prettierrc
.rpt2_cache/
.vscode
CONTRIBUTING.md
REPO_OWNER
compiled
coverage
docs
jest.config.js
lint-staged-config.js
node_modules/
rollup.config.js
test/
tsconfig.json
tslint.json
yarn.lock
